body {
  background-image: url("bg.png");
}
#main_content {
  margin-top:80px;
}
.getting_started_image {
 padding-left: 30px;
}
.stack > *:not(.active) {
  display: none;
}
.avatar {
  border:2px solid #317eac;
}
.no_margin {
  margin-left:0px;
}
.posted_at {
  color: #317eac;
  font-size:.8em;
}
#message_container {
  height:200px;
  overflow:auto;
}
.table_height {
  line-height:30px;
}
#attendee_container{
  width:650px;
}
#map_holder {
  width:530px;
  height:300px;
  position:absolute;
}
#times {
  height:360px;
}